.container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .col-xs-10 {
      background-color: #f9f9f9;
      padding: 30px;
      border-radius: 5px;
    }

    h4 {
      margin-top: 10px;
      font-weight: bold;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-control {
      border-radius: 0;
    }

    .btn {
      border-radius: 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    svg {
      stroke: currentColor;
      fill: none;
      stroke-width: 0;
      color: lightblue;
      height: 200px;
      width: 200px;
      margin: 30px;
      padding:20px;
      margin-top: -100%;
    }